nav {
	height: 16vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 35px;
	padding-right: 3%;
	justify-content: center;
	align-items: center;
}

li {
	display: flex;
}

#logonav {
	width: 5%;
	padding: 10px;
}
